@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
}

body,
template,
main,
html {
  @apply bg-gray-50;
  font-family: Roboto, sans-serif;
}

* {
  color: var(--color-gray-950) !default;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}
